<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.japaneselearningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Japanese Learning App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JapaneseLearningApp">
        <activity
            android:name=".GrammarDetailActivity"
            android:exported="true"/>


        <!-- Активность входа (LoginActivity) запускается первой -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".FlashcardsActivity" android:exported="true"/>
        <activity android:name=".FlashcardDetailActivity" android:exported="true"/>

        <!-- Активности приложения -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".MenuActivity"
            android:exported="true"/>
        <activity
            android:name=".AlphabetActivity"
            android:exported="true"/>
        <activity
            android:name=".WordsActivity"
            android:exported="true"/>
        <activity
            android:name=".BookmarksActivity"
            android:exported="true"/>
        <activity
            android:name=".SentenceActivity"
            android:exported="true"/>
        <activity
            android:name=".GrammarActivity"
            android:exported="true"/>
    </application>
</manifest>